@charset "UTF-8";

/* css style */
:root {
    --primary-color: #112A46;
	--secondary-color: #11FFF4;
	--tertiary-color: #380065;
	--footer-bg: #09131d;
	--border-radius: 8px;
	--border-radius-full: 30px;
	--border-color-light: #eee;
	--box-shadow: 0 0.5rem 1rem rgb(12 12 12 / 5%);

	--white: #FFF;
  }

 * {
	padding:0;
	margin:0;
}
body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}
html {
	scroll-behavior: smooth;
	scroll-padding-top: 77px;
}
h1, h2, h3 {
	font-weight: 700;
}
h4, h5 {
	font-weight:600;
}
h6 {
	font-weight:500;
}
li {
	list-style-type: none;
}
i {
	color: var(--white);
}
.navbar {
	position: fixed;
	right: 0;
	left: 0;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	min-height: 50px;
	line-height: 50px;
	z-index: 1030;
}
.navbar .navbar-nav {
    flex-direction: row;
}
.navbar .nav-item {
	margin: 0 5px;
	padding: 0;
}
.navbar .nav-item a {
	color: var(--secondary-color);
	text-transform: uppercase;
	font-weight: 600;
	font-size: 15px;
}
.navbar .nav-item a:hover {
	text-decoration: underline;
}
.navbar .nav-link {
	position: relative;
	padding: 0;
}
.navbar-style2 .active:after, .navbar-style2 .nav-link:after {
	display: none;
}
.navbar-container {
    display: flex;
    flex-direction: row !important;
}
.nav-scroll {
	background: var(--primary-color);
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}
.nav-scroll .nav-item a {
	color: var(--secondary-color);
}
.navbar .container .navbar-nav .nav-item .active {
	text-decoration: underline;
}
/* End nav block */

/* Users block */
.users_content {
	position: relative;
	padding: 150px 50px 50px 50px;
	background: var(--tertiary-color);
}

.users_content .users_table {
	background-color: var(--primary-color);
	color: var(--white);
	border-collapse: collapse;
}

.users_content .users_table thead {
	border: 5px solid var(--primary-color);
	font-weight: bold;
}

.users_content .add_user {
	margin-bottom: 10px;
	padding: 5px;
	text-align: center;
	font-weight: bold;

	background-color: var(--secondary-color);
	color: var(--primary-color);
}

.users_content .add_user {
	border: none;
}

.users_content .add_user:hover {
	transform: scale(1.1);
}

.users_content .add_user a {
	text-decoration: none;
	color: var(--primary-color);
}
/* End users block*/

/* Add user block */
.add_users_content {
	position: relative;
	padding: 100px 50px 50px 50px;

	background: var(--primary-color);
	color: var(--white);
	font-weight: bold;
}

.add_users_content input[type=text], .add_users_content input[type=password], select, .add-button {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
 	border-radius: 4px;
}

.add-grid {
	display: flex;
	align-items: flex-end;
}

.add_users_content .add-button {
	background-color: var(--secondary-color);
    color: var(--primary-color);
	font-weight: bold;
    border: none;
    cursor: pointer;
	height: auto;
}
/* End user block */

/*Banner block*/
.banner {
	background: var(--secondary-color);
	padding:100px 0px;
	position:relative;
}
.banner::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.banner a.weblink {
	color: var(--white);
	border-bottom:1px dotted var(--white);
}
.banner a:hover {
	text-decoration:none;
}
.banner-text {
	padding-right:80px;
	margin:50px 0px 0px;
}
.banner-text p {
	margin:40px 0px;
}
.banner-text ul {
	list-style: none;
}
.banner-text ul li {
	display: inline-block;
	margin: 0px 10px 10px 0px;
}
.banner-text ul li a {
	display: block;
}
/*End Banner block*/

/* LastBoardGameAdded block*/
.lastGameAdded {
	position: relative;
	padding: 100px 50px 50px 50px;

	background: var(--tertiary-color);
	color: var(--white);
	font-weight: bold;
}
.lastGameAdded .games {
	display: flex;
	justify-content: center;
}
.lastGameAdded .gallery {
	display: flex;
}
.lastGameAdded .gallery img {
	max-width: 100px;
	height: 150px;
	object-fit: cover;
	opacity: .5;
	transition: .5s;
}
.lastGameAdded .gallery img:hover {
	max-width: 100%;
	opacity: 1;
}
/* End LastBoardGameAdded */

/* boardgames block*/
.boardgames {
	background: var(--secondary-color);
	padding:100px 0px;
	position:relative;
}
.boardgames::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.boardgames a.weblink {
	color: var(--white);
	border-bottom:1px dotted var(--white);
}
.boardgames a:hover {
	text-decoration:none;
}
.boardgames-text {
	padding-right:80px;
	margin:50px 0px 0px;
}
.boardgames-text p {
	margin:40px 0px;
}
.boardgames-text ul {
	list-style: none;
}
.boardgames-text ul li {
	display: inline-block;
	margin: 0px 10px 10px 0px;
}
.boardgames-text ul li a {
	display: block;
}
.boardgames-text ul li a img {
	width: 150px;
	border-radius: 7px;
}
/* End boardgames */

/* Boardgame page */
.bgSection {
    position: relative;
    padding: 100px 50px 50px 50px;
    min-height: 258px;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
}
.bgSection .navBgSection {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.bgSection input {
    background-color: var(--secondary-color);
    color: var(--primary-color);
	font-weight: bold;
    border: none;
    cursor: pointer;
	height: auto;
	border-radius: var(--border-radius);
	padding: 7px 50px;
}
#searchInput {
    align-self: flex-end;
    font-size: 16px;
    padding: 5px;
    border-radius: var(--border-radius);
}
.bgPage {
	position: relative;
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
}
.card {
	position: relative;
	width: 150px;
	height: 150px;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.014), 0 6.7px 5.3px rgba(0, 0, 0, 0.02), 0 12.5px 10px rgba(0, 0, 0, 0.025), 0 22.3px 17.9px rgba(0, 0, 0, 0.03), 0 41.8px 33.4px rgba(0, 0, 0, 0.036), 0 100px 80px rgba(0, 0, 0, 0.05);
}
.card--image {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.card--image img {
	object-fit: cover;
}
.card--info {
	--size: 20px;
	width: var(--size);
	height: var(--size);
	background: rgba(0, 0, 0, 0.75);
	border-radius: 2px;
	position: absolute;
	transition: width 550ms ease, height 550ms ease, right 550ms ease, background 550ms ease;
	overflow: hidden;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.014), 0 6.7px 5.3px rgba(0, 0, 0, 0.02), 0 12.5px 10px rgba(0, 0, 0, 0.025), 0 22.3px 17.9px rgba(0, 0, 0, 0.03), 0 41.8px 33.4px rgba(0, 0, 0, 0.036), 0 100px 80px rgba(0, 0, 0, 0.05), 0 0px 2.2px rgba(0, 0, 0, 0.045), 0 0px 5.3px rgba(0, 0, 0, 0.065), 0 0px 10px rgba(0, 0, 0, 0.08), 0 0px 17.9px rgba(0, 0, 0, 0.095), 0 0px 33.4px rgba(0, 0, 0, 0.115), 0 0px 80px rgba(0, 0, 0, 0.16), 0 0.2px 2.2px rgba(0, 0, 0, 0.014), 0 0.6px 5.3px rgba(0, 0, 0, 0.02), 0 1.1px 10px rgba(0, 0, 0, 0.025), 0 2px 17.9px rgba(0, 0, 0, 0.03), 0 3.8px 33.4px rgba(0, 0, 0, 0.036), 0 9px 80px rgba(0, 0, 0, 0.05);
}
.card--info::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.25) 50%, transparent 100%);
	z-index: 1;
	opacity: 0;
	transition: opacity 550ms ease;
}
.card--info.info--1 {
	bottom: 80%;
	right: 80%;
}
.card--info.info--1 .info--image img {
	top: -50%;
	left: -20%;
}
.card--info.info--2 {
	bottom: 5%;
	right: 5%;
}
.card--info.info--2 .info--image img {
	right: -50%;
	bottom: -50%;
}
.card--info .info--text {
	display: block;
	position: absolute;
	left: 10%;
	bottom: 5%;
	font-weight: bold;
	color: #fff;
	white-space: nowrap;
	z-index: 2;
	opacity: 0;
	transform: translateY(25%);
	transition: opacity 250ms ease, transform 250ms ease;
}
.card:hover .card--info {
	--size: 100px;
}
.card:hover .card--info::after {
	opacity: 1;
}
.card:hover .card--info.info--1 {
	right: 71%;
	transition-delay: 100ms;
}
.card:hover .card--info.info--2 {
	right: -30%;
	top: 80%;
}
.card:hover .card--info .info--image img {
	opacity: 1;
}
.card:hover .card--info .info--text {
	transition-delay: 550ms;
	opacity: 1;
	transform: translateY(0%);
}
/* End boardgame page*/

/* Create boardgame page */
.create-boardgame {
	position: relative;
    padding: 100px 50px 50px 50px;
    min-height: 258px;
    background: var(--primary-color);
	color: var(--white);
	font-weight: bold;
}

.create-boardgame input[type=text], .create-boardgame input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
 	border-radius: 4px;
}

.c-image {
	margin-left: -14px;
}

.c-button {
	margin-right: -14px;
	margin-top: 10px;
}

.input-with-image {
    position: relative;
}

.input-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;

	width: 35px;
	height: 35px;
}

.input-text {
    padding-left: 50px !important;
}

input[type=file] {
	visibility:hidden;
}

.create-boardgame button, label[for=imageAddress] {
	background-color: var(--secondary-color);
    color: var(--primary-color);
	font-weight: bold;
    border: none;
    cursor: pointer;
	height: auto;
	border-radius: var(--border-radius);
	padding: 10px 50px;
}

.divBgImage {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
}

.bgImage {
    max-width: 150px;
    max-height: 150px;
}

.add-createBg {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* End create boardgame page */

/* Alert block */
.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}

.alert-dismissible {
  padding-right: 3rem;
}

.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
}

.alert-primary .alert-link {
  color: #06357a;
}

.alert-secondary {
  color: #41464b;
  background-color: #e2e3e5;
  border-color: #d3d6d8;
}

.alert-secondary .alert-link {
  color: #34383c;
}

.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.alert-success .alert-link {
  color: #0c4128;
}

.alert-info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}

.alert-info .alert-link {
  color: #04414d;
}

.alert-warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}

.alert-warning .alert-link {
  color: #523e02;
}

.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.alert-danger .alert-link {
  color: #6a1a21;
}

.alert-light {
  color: #636464;
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.alert-light .alert-link {
  color: #4f5050;
}

.alert-dark {
  color: #141619;
  background-color: #d3d3d4;
  border-color: #bcbebf;
}

.alert-dark .alert-link {
  color: #101214;
}
/*End Alert block*/

/* button style */
.btn-style {
  padding: 12px 36px 14px;
  font-size: 16px;
  color: var(--white);
  border-radius: var(--border-radius-full);
  font-weight: bold;
  outline: none;
  border: none;
  background: var(--primary-color);
}

.btn-style a {
  color: var(--white);
}

.btn-style:hover {
    transform: scale(1.1);
}
/* End button style  */

/* login section */
.login-block input,
.login-block textarea {
  width: 100%;
  font-size: 16px;
  padding: 14px;
  border: 2px solid var(--border-color-light);
  outline: none;
  margin-bottom: 20px;
  border-radius: var(--border-radius);
}

.login-block textarea {
  height: 180px;
  margin: 0 0 20px 0;
}

.login-left {
  box-shadow: var(--box-shadow);
  padding: 40px;
}

.login-center {
    float: none;
    margin: auto;
}

.log-details h6 {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 8px;
}
/* End login section */

/* footer block */
.w3l-footer-29-main {
	background: var(--footer-bg);
}
  
.w3l-footer-29-main h6.footer-title-29 {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 24px;
	font-weight: 600;
	color: var(--white);
}

.w3l-footer-29-main .footer-list-29 ul li {
	list-style: none;
	margin-bottom: 10px;
}

.w3l-footer-29-main .footer-list-29 ul li:last-child {
	margin-bottom: 0px;
}

.w3l-footer-29-main .footer-list-29 ul li a,
.w3l-footer-29-main .footer-list-29 p a,
.w3l-footer-29-main .footer-list-29 p {
	font-size: 15px;
	color: #ababab;
	padding-bottom: 4px;
}

.w3l-footer-29-main .footer-list-29 ul li a {
	display: block;
}

.w3l-footer-29-main .footer-list-29 ul li a:hover,
.w3l-footer-29-main .footer-list-29 p a:hover {
	color: var(--white);
}

.w3l-footer-29-main .footer-list-29 ul li:last-child a,
.w3l-footer-29-main .footer-list-29 p {
	border-bottom: none;
}

p.copy-footer-29 {
	font-size: 15px;
	color: var(--white);
}

p.copy-footer-29 a {
	color: var(--secondary-color);
}

p.copy-footer-29 a:hover {
	color: var(--primary-color);
}

.w3l-footer-29-main input[type="email"] {
	background: var(--subscribe-footer-input);
	border: none;
	padding: 16px 12px;
	font-size: 15px;
	outline: none;
	width: 80%;
	color: var(--heading-color);
	border-radius: 4px 0 0 4px;
}

.w3l-footer-29-main button {
	border: none;
	outline: none;
	font-size: 16px;
	padding: 16px 12px;
	cursor: pointer;
	width: 20%;
	color: var(--white);
	background: var(--secondary-color);
	border-radius: 0 4px 4px 0;
}

@media (max-width: 991px) {
	.w3l-footer-29-main h6.footer-title-29 {
		margin-bottom: 20px;
		font-size: 20px;
	}
}

@media (max-width: 415px) {
	.w3l-footer-29-main .footer-list-29 ul li,
	.w3l-footer-29-main .midd-footer-29:nth-child(1) .footer-list-29 ul li:last-child {
		margin-bottom: 8px;
	}

	.col-4.footer-list-29 {
		flex: 0 0 auto;
		width: 100%;
	}

	.w3l-footer-29-main h6.footer-title-29 {
		margin-bottom: 10px;
	}
}  
/* End footer block */
