<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head>
        <th:block th:replace="~{head :: head}"></th:block>
        <title>Boardgame</title>
    </head>

    <body>

        <!-- header -->
        <div th:replace="~{header :: header}">...</div>
        <!-- //header -->

        <section class="boardgameItem">
<!--            <form th:action="@{/}" th:object="${boardgame}" method="POST" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">-->

                <div class="boardgameItemStats">
                    <img th:src="@{'data:image/jpeg;base64,' + ${boardgame.imageAddress}}">

                    <div class="boardgameItemStats2">
                        <p th:text="${boardgame.name}"></p> <br/>
                        <p th:text="${boardgame.players}"></p> <br/>
                        <p th:text="${boardgame.duration}"></p> <br/>
                        <p th:text="${boardgame.publishing}"></p>
                        <p th:text="${boardgame.sleeveSize}"></p>
                    </div>
                </div>

                <div class="boardgameItemIB">
                    <div class="boardgameItemInfos">
                        <p th:text="${boardgame.description}"></p>
                    </div>
                    <div class="boardgameItemButtons">
                        <a class="bt_bg" th:href="@{/}">+ WISHLIST</a>
                        <a class="bt_bg" sec:authorize="hasRole('ADMIN')" th:href="@{/}">UPDATE</a>
                        <a class="bt_bg" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/deleteBoardgame(boardgameId=${boardgame.boardgameId})}">DELETE</a>
                    </div>
                </div>
<!--            </form>-->
        </section>

        <!-- footer block -->
        <div th:replace="~{footer :: footer}">...</div>
        <!-- //footer block -->

        <!-- Scripts block -->
        <div th:replace="~{myScripts.html}"></div>
        <!-- //Scripts block -->
    </body>

</html>