<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head>
        <meta charset="UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
        <title>Boardgames</title>
    </head>

    <body>

        <!-- header -->
        <div th:replace="~{header :: header}">...</div>
        <!-- //header -->

        <section class="boardgames_page">
            <div class="card" th:each="boardgame : ${boardgames}">
                <div class="card--image">
                    <a th:href="@{/}"><img th:src="${boardgame.imageAddress}" alt=""></a>
                </div>
                <div class="card--info info--1">
                    <span class="info--text" th:text="${boardgame.name}"></span>
                    <div class="info--image">
                        <a href=""><img th:src="${boardgame.imageAddress}" alt=""></a>
                    </div>
                </div>
                <div class="card--info info--2">
                    <span class="info--text" th:text="${boardgame.players}"></span>
                    <div class="info--image">
                        <a href=""><img th:src="${boardgame.imageAddress}" alt=""></a>
                    </div>
                </div>
            </div>
        </section>

        <!-- footer block -->
        <div th:replace="~{footer :: footer}">...</div>
        <!-- //footer block -->

        <!-- Scripts block -->
        <div th:replace="myScripts.html"></div>
        <!-- //Scripts block -->
    </body>

</html>