<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head>
        <th:block th:replace="head :: head"></th:block>
        <title>Boardgames</title>
    </head>

    <body>

        <!-- header -->
        <div th:replace="~{header :: header}">...</div>
        <!-- //header -->

        <section class="boardgames_page">
            <div class="card" th:each="boardgame : ${boardgames}">
                <div class="card--image">
                    <a th:href="@{/}"><img th:src="${boardgame.imageAddress}" alt=""></a>
                </div>
                <div class="card--info info--1">
                    <span class="info--text" th:text="${boardgame.name}"></span>
                    <div class="info--image">
                        <a href=""><img th:src="${boardgame.imageAddress}" alt=""></a>
                    </div>
                </div>
                <div class="card--info info--2">
                    <span class="info--text" th:text="${boardgame.players}"></span>
                    <div class="info--image">
                        <a href=""><img th:src="${boardgame.imageAddress}" alt=""></a>
                    </div>
                </div>
            </div>
        </section>

        <!-- footer block -->
        <div th:replace="~{footer :: footer}">...</div>
        <!-- //footer block -->

        <!-- Scripts block -->
        <div th:replace="myScripts.html"></div>
        <!-- //Scripts block -->
    </body>

</html>