<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head>
        <th:block th:replace="~{head :: head}"></th:block>
        <title>Create Boardgame</title>
    </head>

    <body>
        <!-- header -->
        <div th:replace="~{header :: header}">...</div>
        <!-- //header -->

        <section class="create-boardgame">
            <ul>
                <li class="alert alert-danger" role="alert" th:each="error : ${#fields.errors('boardgame.*')}" th:text="${error}"></li>
            </ul>
            <form th:action="@{/admin/createBoardgame}" th:object="${boardgame}" enctype="multipart/form-data" method="POST" class="input-grids">

                <div class="divBgImage">
                    <img id="bgImage" src="#" alt="">
                </div>

                <div class="input-grids">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="name">Name</label>
                            <input type="text" id="name" th:field="*{name}" placeholder="Board game name...">
                        </div>
                        <div class="col-sm-6">
                            <label for="publishing">Publishing</label>
                            <div class="input-with-image">
                                <input type="text" id="publishing" th:field="*{publishing}" placeholder="Publishing..." class="input-text">
                                <img th:src="@{/assets/images/publishing.png}" alt="Publishing" class="input-image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-grids">
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="duration">Duration</label>
                            <div class="input-with-image">
                                <input type="text" id="duration" th:field="*{duration}" placeholder="XX MIN" class="input-text">
                                <img th:src="@{/assets/images/duration.png}" alt="Duration" class="input-image">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="players">Players</label>
                            <div class="input-with-image">
                                <input type="text" id="players" th:field="*{players}" placeholder="X - X" class="input-text">
                                <img th:src="@{/assets/images/players.png}" alt="Players" class="input-image">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="sleeveSize">Sleeves Size</label>
                            <div class="input-with-image">
                                <input type="text" id="sleeveSize" th:field="*{sleeveSize}" placeholder="XX (XX.X mm X XX.X mm)" class="input-text">
                                <img th:src="@{/assets/images/sleeves.png}" alt="Sleeve Size" class="input-image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-grids">
                    <div class="add-createBg col-12">
                        <div class="c-image">
                            <label for="imageAddress">Choose a image</label>
                            <input type="file" id="imageAddress" th:field="*{file}">
                        </div>
                        <div class="c-button">
                            <button>ADD</button>
                        </div>
                    </div>
                </div>

            </form>
        </section>

        <!-- footer block -->
        <div th:replace="~{footer :: footer}">...</div>
        <!-- //footer block -->

        <!-- Scripts block -->
        <div th:replace="~{myScripts.html}"></div>
        <!-- //Scripts block -->
    </body>
</html>