<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <head>
  </head>

  <body>
    <footer class="w3l-footer-29-main">
      <div class="footer-29 pt-5 pb-4">
        <div class="container pt-md-2">
          <div class="row footer-top-29">
            <div class="col-lg-4 col-md-6 footer-list-29">
              <h6 class="footer-title-29">Contact Info </h6>
              <p class="mb-2"><i class="fa-solid fa-mobile-screen-button"></i> (11) 99445 3337</p>
              <p class="mb-2"><i class="fa-solid fa-envelope"></i> <a href="mailto:wigner12@gmail.com">wigner12@gmail.com</a></p>
              <p class="mb-2"><i class="fa-brands fa-linkedin"></i> <a href="https://www.linkedin.com/in/wigner-santos/">wigner-santos</a></p>
              <p class="mb-2"><i class="fa-brands fa-github"></i> <a href="https://github.com/WignerSantos">Wigner Santos</a></p>
            </div>
            <div class="col-lg-2 col-md-3 col-6 footer-list-29 mt-md-0 mt-4">
              <ul>
                <li><a th:href="@{/about}">About Me</a></li>
              </ul>
            </div>
          </div>
          <!-- copyright -->
          <p class="copy-footer-29 text-center pt-lg-2 mt-5 pb-2">© 2023 BoardGameWishlistFinder. Design
            by <span class="name">Wigner Santos</span>
            <!-- //copyright -->
        </div>
      </div>
    </footer>
  </body>

</html>