<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <th:block th:replace="~{head :: head}"></th:block>
        <title>Home</title>
    </head>

    <body>
        <!-- header -->
        <div th:replace="~{header :: header}">...</div>
        <!-- //header -->

        <!-- LastBoardgameAdded block -->
        <section class="lastGameAdded">
            <div class="lastGameAdded-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <div class="lastGameAdded-text">
                                <h2 class="white">Last game added</h2>
                                <p class="lastGameAdded-text white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit neque massa, sit amet tristique ante porta ut. In sodales et justo vel vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End LastGameAdded block -->

        <!-- Boardgames block -->
        <section id="boardgames" class="boardgames">
            <div class="boardgames-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="boardgames-text">
                                <h2 class="white">Boardgames</h2>
                                <p class="boardgames-text white">Os jogos de tabuleiro utilizam as superfícies planas e pré-marcadas como o xadrez, com desenhos ou marcações de acordo com as regras envolvidas em cada jogo específico. Os jogos podem ter por base estratégia pura, sorte (por exemplo, rolagem de dados), ou uma mistura dos dois, e geralmente têm um objetivo que cada jogador pretende alcançar. Os primeiros jogos de tabuleiro representavam uma batalha entre dois exércitos, e a maioria dos jogos de tabuleiro modernos ainda são baseados em derrotar os jogadores adversários em termos.
                                    Existem muitos tipos de jogos de tabuleiro. Sua representação pode variar de situações da vida real a jogos abstratos sem nenhum tema (por exemplo, damas ou xadrez). As regras podem variar desde o simples (por exemplo, jogo-da-velha), para aquelas que descrevem um universo de jogos em grande detalhe (por exemplo, Dungeons & Dragons).
                                    O tempo necessário para aprender a jogar ou dominar um jogo varia muito de jogo para jogo. Tempo não está necessariamente relacionado com o número ou a complexidade das regras de aprendizagem; alguns jogos com estratégias profundas (por exemplo, xadrez ou Go) possuem conjuntos de regras relativamente simples.
                                    Tabuleiro de jogo de damas
                                    Jogos de tabuleiro não são apenas uma alternativa de lazer. Sua prática incentiva a capacidade de memória, ajudam a desenvolver o raciocínio lógico e abstrato.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End boardgames block -->

        <!-- footer block -->
        <div th:replace="~{footer :: footer}">...</div>
        <!-- //footer block -->

        <!-- Scripts block -->
        <div th:replace="~{myScripts.html}"></div>
        <!-- //Scripts block -->
    </body>

</html>