<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <th:block th:replace="head :: head"></th:block>
        <title>Login</title>
    </head>

    <body>

        <!-- login block -->
        <section class="banner w3l-contact py-5" id="contact">
            <div class="container py-md-5 py-4">
                <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                    <h3 class="title-style">LogIn</h3>
                </div>
                <div class="row login-block">
                    <div class="col-md-6 login-center">
                        <form th:action="@{/login}" method="post" class="signin-form">
                            <div class="col-md-8 login-center input-grids">
                                <li class="alert alert-success" role="alert" th:if="${!#strings.isEmpty(errorMessage)}"
                                    th:text="${errorMessage}"></li>
                                <input type="text" name="username" id="username" placeholder="Username"
                                    class="login-input" />
                                <input type="password" name="password" id="password" placeholder="Password"
                                    class="login-input" />
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            </div>
                            <div class="col-md-8 login-center d-flex justify-content-between">
                                <button class="btn btn-style btn-style-3">Log In</button>
                                <button class="btn btn-style btn-style-3"><a href="#">Sign In</a></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- //login block -->

        <!-- footer block -->
        <div th:replace="~{footer :: footer}">...</div>
        <!-- //footer block -->

    </body>

</html>