<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

        <title>Update User</title>
    </head>
    
    <body>
        <!-- header -->
        <div th:replace="~{header :: header}">...</div>
        <!-- //header -->

        <section class="add_users_content">
            <ul>
                <li class="alert alert-danger" role="alert" th:each="error : ${#fields.errors('user.*')}" th:text="${error}" />
            </ul>
            <form th:action="@{/admin/updateUser}" method="POST" th:object="${user}" class="input-grids">

                <input type="hidden" id="personId" th:field="*{personId}">

                <label for="name">Name</label>
                <input type="text" id="name" th:field="*{name}" placeholder="Your name...">

                <div class="input-grids">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="email">Email</label>
                            <input type="text" id="email" th:field="*{email}" placeholder="Your email...">
                        </div>

                        <div class="col-sm-6">
                            <label for="confirmemail">Confirm email</label>
                            <input type="text" id="confirmemail" th:field="*{confirmEmail}" placeholder="Confirm email...">
                        </div>
                    </div>
                </div>

                <div class="input-grids">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="password">Password</label>
                            <input type="password" id="password" th:field="*{password}" placeholder="Your password...">
                        </div>
                        <div class="col-sm-6">
                            <label for="confirmpassword">Confirm Password</label>
                            <input type="password" id="confirmpassword" th:field="*{confirmPassword}" placeholder="Confirm password...">
                        </div>
                    </div>
                </div>

                <div class="input-grids">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="roles">Role</label>
                            <select id="roles" th:field="*{role}">
                                <option th:each="r : ${roles}" th:text="${r.roleName}" th:value="${r.roleId}"></option>
                            </select>
                        </div>
                        <div class="col-sm-6 add-grid">
                            <button class="add-button">UPDATE</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <!-- footer block -->
        <div th:replace="~{footer :: footer}">...</div>
        <!-- //footer block -->

        <!-- Jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

        <!-- Bootstrap -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

        <!-- Home js -->
        <script TH:src="@{/assets/js/home.js}"></script>

        <!-- Font awesome icons -->
        <script src="https://kit.fontawesome.com/d92ab718d9.js" crossorigin="anonymous"></script>
    </body>

</html>