<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    
    <head>
        <th:block th:replace="~{head :: head}"></th:block>
        <title>Update User</title>
    </head>
    
    <body>
        <!-- header -->
        <div th:replace="~{header :: header}">...</div>
        <!-- //header -->

        <section class="add_users_content">
            <ul>
                <li class="alert alert-danger" role="alert" th:each="error : ${#fields.errors('user.*')}" th:text="${error}" />
            </ul>
            <form th:action="@{/admin/updateUser}" method="POST" th:object="${user}" class="input-grids">

                <input type="hidden" id="personId" th:field="*{personId}">

                <label for="name">Name</label>
                <input type="text" id="name" th:field="*{name}" placeholder="Your name...">

                <div class="input-grids">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="email">Email</label>
                            <input type="text" id="email" th:field="*{email}" placeholder="Your email...">
                        </div>

                        <div class="col-sm-6">
                            <label for="confirmemail">Confirm email</label>
                            <input type="text" id="confirmemail" th:field="*{confirmEmail}" placeholder="Confirm email...">
                        </div>
                    </div>
                </div>

                <div class="input-grids">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="password">Password</label>
                            <input type="password" id="password" th:field="*{password}" placeholder="Your password...">
                        </div>
                        <div class="col-sm-6">
                            <label for="confirmpassword">Confirm Password</label>
                            <input type="password" id="confirmpassword" th:field="*{confirmPassword}" placeholder="Confirm password...">
                        </div>
                    </div>
                </div>

                <div class="input-grids">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="roles">Role</label>
                            <select id="roles" th:field="*{role}">
                                <option th:each="r : ${roles}" th:text="${r.roleName}" th:value="${r.roleId}"></option>
                            </select>
                        </div>
                        <div class="col-sm-6 add-grid">
                            <button class="add-button">UPDATE</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>

        <!-- footer block -->
        <div th:replace="~{footer :: footer}">...</div>
        <!-- //footer block -->

        <!-- Scripts block -->
        <div th:replace="~{myScripts.html}"></div>
        <!-- //Scripts block -->
    </body>

</html>