<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    
    <head>
        <th:block th:replace="~{head :: head}"></th:block>
        <title>Users</title>
    </head>
    
    <body>
        <!-- header -->
        <div th:replace="~{header :: header}">...</div>
        <!-- //header -->

        <section class="users_content">
            <button class="add_user"><a th:href="@{/admin/displayCreateUser}">Add User</a></button>

            <table class="table users_table w3-table">
                <thead>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Created at</th>
                    <th>Created by</th>
                    <th>Updated at</th>
                    <th>Updated by</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr th:each="user: ${users}">
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.role.roleName}"></td>
                        <td th:text="${user.createdAt}"></td>
                        <td th:text="${user.createdBy}"></td>
                        <td th:text="${user.updatedAt} == null ? '-' : ${user.updatedAt}"></td>
                        <td th:text="${user.updatedBy} == null ? '-' : ${user.updatedBy}"></td>
                        <td> <a th:href="@{/admin/displayUserUpdate(personId=${user.personId})}"> <i class="fa-solid fa-pen-to-square"></i> </a></td>
                        <td> <a th:href="@{/admin/deleteUser(personId=${user.personId})}"> <i class="fa-solid fa-trash"></i> </a></td>
                    </tr>
                </tbody>
            </table>
        </section>

        <!-- footer block -->
        <div th:replace="~{footer :: footer}">...</div>
        <!-- //footer block -->

        <!-- Scripts block -->
        <div th:replace="~{myScripts.html}"></div>
        <!-- //Scripts block -->

    </body>

</html>